[Desktop Entry]
Name=GitKraken
Comment=Unleash your repo
GenericName=Git Client
Exec=bash -c "gitkraken  --ozone-platform=wayland --enable-features=WaylandWindowDecorations"
Icon=gitkraken
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Development;RevisionControl;
StartupWMClass=gitkraken
MimeType=x-scheme-handler/gitkraken;text/plain;
Terminal=false
TerminalOptions=\s--noclose
