configuration {
  terminal: "/usr/bin/kitty";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
  font: "mono 16";
  show-icons: true;
}
@theme "DarkBlue"
window {
   height:   40%;
   location: center;
   anchor:   center;
}
listview {
    border: 2px dash 0px 0px ;
}
element-icon { 
   size: 2ch;
   padding: 0 10px 0 10px;
}
* {
alternate-normal-background: rgba(0,0,208,1%);
}
